@font-face {
  font-family: 'Bernhard';
  src: local('Bernhard Roman'), local('Bernhard-Roman'),
    url('../../assets/fonts/BernhardModernStd-Roman.woff') format('truetype');
  font-display: swap;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pwrapper {
  margin-left: 5%;
  width: 60%;
}

.container {
  background: var(--black);
  min-height: 100vh;
}

.p {
  color: var(--white);
  font-size: 36px;
}

.p:first-child {
  margin-bottom: 36px;
}

.title {
  margin-left: 5%;
  font-size: 256px;
  font-family: Bernhard;
  color: var(--green);
}

.cosminacho {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 30px;
}
