@font-face {
  font-family: 'Bernhard';
  src: local('Bernhard Roman'), local('Bernhard-Roman'),
    url('../../assets/fonts/BernhardModernStd-Roman.woff') format('truetype');
  font-display: swap;
}

.wrapper,
.wrapperMobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  padding: 0 64px;
  margin-top: 32px;
  padding-bottom: 20px;
}

.wrapperMobile {
  flex-direction: column-reverse;
  padding-bottom: 20px;
}

.wrapperMobile .p {
  font-size: 24px;
}

.pwrapper {
  width: 45%;
}

.pwrapperMobile {
  width: 90%;
}

.container {
  background: var(--black);
  min-height: 100vh;
}

.p {
  color: var(--white);
  font-size: 36px;
}

.p:first-child {
  margin-bottom: 36px;
}

.title,
.titleMobile {
  font-size: 160px;
  color: var(--green);
}

.title {
  margin-left: 64px;
  padding-top: 64px;
}

.titleMobile {
  padding-top: 100px;
  font-size: 80px;
  margin-left: 32px;
}

.cosminacho {
  align-self: center;
  width: 30%;
  height: 400px;
  background: var(--black);
}

.cosminachoMobile {
  width: 80%;
  height: auto;
  background: var(--black);
  align-self: center;
  border-radius: 0;
  padding-bottom: 30px;
  margin-right: 0;
}
