body {
  margin: 0;
  padding: 0;
  font-family: Telegraf;
}

@font-face {
  font-family: 'Telegraf';
  src: local('Telegraf Regular'), local('Telegraf-Regular'),
  url('../assets/fonts/Telegraf-Regular.woff') format('truetype');
  font-display: swap;
}
:root {
  --gray: #C9C9C9;
  --green: #C4FF00;
  --black: #0E0E0E;
  --white: #fff;
}
