body {
  margin: 0;
  padding: 0;
  font-family: Telegraf;
  background-color: black;
}

@font-face {
  font-family: 'Telegraf';
  src: local('Telegraf Regular'), local('Telegraf-Regular'),
    url('../assets/fonts/DarkerGrotesque-Regular.woff') format('truetype');
  font-display: swap;
}
:root {
  --gray: #c9c9c9;
  --green: #c4ff00;
  --black: #0e0e0e;
  --white: #fff;
}
