.container{
  background: var(--gray);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.andrei, .cosmin, .bala, .graphic, .designer{
  font-size: 140px;
  line-height: 120px;
}

.andrei{
  padding-top: 20px;
  margin-left: 4%;
}

.cosmin{
  margin-left: 12%;
}

.bala{
  margin-left: 34%;
  /* margin-bottom: 40px; */
}

.graphic{
  margin-left: 50%;
}

.designer{
  margin-left: 58%;
}