.container,
.containerMobile {
  background: var(--gray);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  font-size: 140px;
}

.containerMobile {
  font-size: 76px;
  align-items: flex-start;
  gap: 8px;
}

.andrei,
.cosmin,
.bala,
.graphic,
.designer {
  transition: transform 0.2s;
}


.andrei:hover {
  transform: scale(1.02);
}
.cosmin:hover {
  transform: scale(1.42);
}
.bala:hover {
  transform: scale(2.3);
}
.graphic:hover {
  transform: scale(1.92);
}
.designer:hover {
  transform: scale(1.02);
}

.andrei {
  margin-left: 1%;
}

.cosmin {
  margin-left: 15%;
}

.bala {
  align-self: center;
}

.graphic {
  align-self: flex-end;
  margin-right: 18%;
}

.designer {
  align-self: flex-end;
  margin-right: 1%;
}
