.link {
  font-size: 23px;
  font-weight: 400;
  line-height: 19px;
  @media (max-width: 767px) {
    font-size: 16px;
  }
}

.container{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 60px;
  top: 0px;
  color: white;
}

.container ul{
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 5%;
}

.container ul li{
  cursor: pointer;
}

.linkActive {
  color: var(--green);
}