.link,
.linkMobile {
  font-size: 23px;
  font-weight: 400;
  line-height: 19px;
  cursor: pointer;
}

.linkMobile:last-child{
  margin: 0;
}

.container,
.containerMobile {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
  z-index: 1;
  color: white;
}

.containerMobile{
  width: 100%;
}

.container {
  justify-content: flex-end;
  gap: 36px;
  width: 100%;
}
.link:last-child{
  margin-right: 64px;
}


.linkActive {
  color: var(--green);
}
